<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Livrai - Mes Livraisons</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 10px;
        }

        nav {
            background-color: purple;
        }

        .nav-link {
            color: white;
            font-weight: bold;
            margin-top: 10px;
            font-size: 40px;
            margin-left: 10px;
        }

        .nav-link-pull-right {
            margin-left: 100px;
            font-size: 20px;
        }

        .button {
            background-color: purple;
            color: white;
            margin: 10px;
        }
    </style>
</head>

<body>
    <div th:replace="~{navbar :: navbar}"></div>

    <h1>Mes livraisons à venir</h1>
    <div th:if="${upcomingDeliveries.isEmpty()}">Aucune livraison à venir</div>
    <div th:unless="${upcomingDeliveries.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th th:if="${admin}">Client</th>
                    <th>Volume</th>
                    <th>Poids</th>
                    <th>Statut</th>
                    <th th:if="${admin}"></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="delivery : ${upcomingDeliveries}">
                    <td th:text="${delivery.id}"></td>
                    <td th:if="${admin}" th:text="${delivery.clientName}"></td>
                    <td th:text="${delivery.volume}"></td>
                    <td th:text="${delivery.weight}"></td>
                    <td th:text="${delivery.status}"></td>
                    <td th:if="${admin}">
                        <div th:if="${delivery.status == 'En attente'}">
                            <form method="post" th:action="@{/livraisons}">
                                <input type="hidden" name="id" th:value="${delivery.id}" />
                                <input type="hidden" name="action" value="ACCEPT" />
                                <input type="submit" value="Accepter">
                            </form>
                            <form method="post" th:action="@{/livraisons}">
                                <input type="hidden" name="id" th:value="${delivery.id}" />
                                <input type="hidden" name="action" value="REJECT" />
                                <input type="submit" value="Refuser">
                            </form>
                        </div>
                        <div th:if="${delivery.status == 'Acceptée'}">
                            <form method="post" th:action="@{/livraisons}">
                                <input type="hidden" name="id" th:value="${delivery.id}" />
                                <input type="hidden" name="action" value="BILL" />
                                <input type="number" name="price" />
                                <input type="submit" value="Facturer">
                            </form>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <h1>Mes livraisons passées</h1>
    <div th:if="${pastDeliveries.isEmpty()}">Aucune livraison terminée</div>
    <div th:unless="${pastDeliveries.isEmpty()}">
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th th:if="${admin}">Client</th>
                    <th>Volume</th>
                    <th>Poids</th>
                    <th>Prix</th>
                    <th>Statut</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="delivery : ${pastDeliveries}">
                    <td th:text="${delivery.id}"></td>
                    <td th:if="${admin}" th:text="${delivery.clientName}"></td>
                    <td th:text="${delivery.volume}"></td>
                    <td th:text="${delivery.weight}">
                    <td th:text="${delivery.price}"><!--ERROR-->
                    <td th:text="${delivery.status}"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <p><a th:href="@{/livraisons/create}">Créer une nouvelle livraison</a></p>
</body>

</html>